header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  margin-top: 40px;
}

header .header-wrap .logo a {
  display: block;
  height: 70px;
}

header .header-wrap .logo a img {
  height: inherit;
}

header .header-wrap .menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style: none;
  margin: 0px;
  height: 100%;
}

header .header-wrap .menu .menu-list .list-item {
  font-size: 16pt;
}

header .header-wrap .menu .menu-list .list-item a {
  color: #8d8d8d;
  line-height: 19px;
  display: block;
  padding: 26px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .header-wrap .menu .menu-list .list-item a:hover {
  color: white;
  background-color: gray;
}
