<footer>
    <div class="footer-wrap">
        <div class="company-connections">
            <div class="logo-name-company">
                <img class="company-logo" src="views/img/logo.png" />
                <h4 class="company-name">Web-mark</h4>
            </div>
            <div class="company-address-info">
                <div class="company-address">
                    <div class="geo-icon">
                        <img src="views/img/geo-icon.svg" />
                    </div>
                    <div class="address-wrap">
                        <span class="address">
                            Company Adress: Lorem ipsum dolor sit amet <br>18600,
                            Netherlands
                        </spa>
                    </div>
                </div>
                <div class="info">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Amet quos ullam atque accusantium ratione molestias soluta,
                    provident nobis, assumenda dolorum voluptas incidunt
                    inventore quia reiciendis quis. Quis quo molestias repellat.
                </div>
            </div>
            <div class="company-tele">
                <div class="tele-icon">
                    <img src="views/img/tele-icon.svg" />
                </div>
                <div class="number-wrap">
                    <span class="number">+38 958 755-00-00</span>
                </div>
            </div>
            <div class="company-socials">
                <ul class="socials-list">
                    <li class="social-item">
                        <a href="#">
                            <img src="views/img/social_icon__master.svg" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#">
                            <img src="views/img/social_icon__instagram.svg" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#">
                            <img src="views/img/social_icon__twitter.svg" />
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="#">
                            <img src="views/img/social_icon__youtube.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>