<header>
    <div class="header-wrap">
        <div class="logo"><a href="#"><img src="views/img/logo.png" /></a></div>
        <label for="open-burger"></label>
        <input type="checkbox" id="open-burger" />
        <div class="menu">
            <label for="close-burger"></label>
            <input id="close-burger" />
            <ul class="menu-list">
                {{#each nav}}
                    <li class="list-item">
                        <a href="{{this.href}}">{{this.text}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</header>