header {
    .header-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        background-color: white;
        margin-top: 40px;
        height: 70px;
        .logo {
            a {
                display: block;
                height: 70px;
                img {
                    height: inherit;
                }
            }
        }
        label {
            display: none;
            width: 70px;
            height: 70px;
            position: relative;
            cursor: pointer;
            transition: 0.3s all ease;
        }
        label::before,
        label::after {
            content: "";
            border-radius: 10px;
            position: absolute;
            width: 100%;
            height: 10px;
            background-color: black;
        }
        label::before {
            top: 20px;
        }
        label::after {
            top: 40px;
        }
        label:hover {
            background-color: #808080;
        }
        #open-burger {
            display: none;
        }
        .menu {
            label {
                display: none;
                width: 70px;
                height: 70px;
                position: relative;
                left: 40%;
                cursor: pointer;
                transition: 0.3s all ease;
            }
            label::before,
            label::after {
                content: "";
                border-radius: 10px;
                position: absolute;
                width: 100%;
                height: 10px;
                background-color: black;
            }
            label::before {
                top: 20px;
                transform: rotate(45deg);
                margin-top: 9px;
            }
            label::after {
                top: 40px;
                transform: rotate(-45deg);
                margin-top: -9px;
            }
            label:hover {
                background-color: #808080;
            }
            #close-burger {
                display: none;
            }
            .menu-list {
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                margin: 0px;
                height: 100%;
                .list-item {
                    font-size: 16pt;
                    a {
                        color: #8d8d8d;
                        line-height: 19px;
                        display: block;
                        padding: 26px;
                        text-decoration: none;
                        transition: all 0.3s ease;
                    }
                    a:hover {
                        color: white;
                        background-color: gray;
                    }
                }
            }
        }
        @media (max-width: 1220px) {
            label {
                display: block;
            }
            .menu {
                display: flex;
                flex-flow: column nowrap;
                position: fixed;
                top: 40px;
                right: 0%;
                width: 0px;
                background-color: #ededed;
                overflow: hidden;
                transition: 0.3s all ease;
                z-index: 2;
                label {
                    display: block;
                }
                .menu-list {
                    text-align: center;
                    padding-left: 0px;
                    flex-flow: column nowrap;
                    width: 100%;
                }
            }
            .open-burger {
                width: 350px;
            }
        }
    }
    @media (max-width: 1220px) {
        .header-wrap {
            box-sizing: border-box;
            padding: 0px 40px;
        }
    }
}
