$form-width: 270px;
$product-margin-left: 20px;
.products-container {
    .breadcrumbs {
        .bread-list {
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            padding: 0px;
            .bread-item {
                margin: 0px 10px;
                a {
                    color: #2f80ed;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .product-head {
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        margin-left: calc(270px + 20px);
    }
    @media (max-width: 1220px) {
        .product-head {
            margin-left: 0px;
        }
    }
    .content {
        display: flex;
        flex-flow: row nowrap;
        .search {
            min-width: $form-width;
            .search-area {
                background-color: #ffffff;
                padding: 16px;
                transition: 0.3s all ease;
                .numbers-founder {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: #333333;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    .nbrs-found {
                        .numbers-found {
                        }
                        .subtext {
                        }
                    }
                    #burger-search {
                        position: relative;
                        opacity: 0;
                        font-size: 16pt;
                        background-color: #ffffff;
                        border: none;
                        text-align: center;
                        transition: 0.3s all ease;
                        cursor: pointer;
                    }
                    #burger-search:hover {
                        color: #ffffff;
                        background-color: #828282;
                    }
                    @media (max-width: 1220px) {
                        #burger-search {
                            opacity: 1;
                        }
                    }
                }
                hr {
                }
                .form-wrap {
                    .search-params {
                        .axle-param {
                            display: flex;
                            flex-flow: column nowrap;
                            margin-top: 15px;
                            .axle-param-btn {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                .param-title {
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #333333;
                                }
                                .btn-param {
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                }
                                .btn-param:hover {
                                    background-color: #56ccf2;
                                }
                            }
                            .axle-params {
                                display: flex;
                                flex-flow: column nowrap;
                                overflow: hidden;
                                height: 0px;
                                transition: 0.3s all linear;
                                margin-top: 11px;
                                label {
                                    margin-top: 11px;
                                    cursor: pointer;
                                    display: flex;
                                    flex-flow: row nowrap;
                                    .axle-input {
                                        margin: 0px 8px 0px 0px;
                                        cursor: inherit;
                                        width: 19px;
                                        height: 19px;
                                    }
                                    .param-value {
                                        font-size: 16px;
                                        line-height: 19px;
                                        color: #4f4f4f;
                                    }
                                }
                            }
                            .open {
                                height: 90px;
                            }
                            .axle-params:first-child {
                                margin-top: 0px;
                            }
                        }
                        .price-param {
                            margin-top: 17px;
                            display: flex;
                            flex-flow: column nowrap;
                            .price-param-btn {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                .param-title {
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #333333;
                                }
                                .btn-param {
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                }
                                .btn-param:hover {
                                    background-color: #56ccf2;
                                }
                            }
                            .price-params {
                                display: flex;
                                flex-flow: row nowrap;
                                overflow: hidden;
                                margin-top: 11px;
                                height: 0px;
                                transition: 0.3s all linear;
                                label {
                                    .price-input {
                                        padding: 4px;
                                        margin: 0px;
                                        width: 102px;
                                        height: 35px;
                                        font-size: 16px;
                                        line-height: 19px;
                                        border: 1px solid #bdbdbd;
                                    }
                                    @media (max-width: 1220px) {
                                        .price-input {
                                            width: 93%;
                                        }
                                    }
                                }
                                label:last-child {
                                    margin-left: 13px;
                                }
                            }
                            .open {
                                height: 45px;
                            }
                        }
                        .keyword-param {
                            margin-top: 17px;
                            display: flex;
                            flex-flow: column nowrap;
                            .keyword-param-btn {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                .param-title {
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #333333;
                                }
                                .btn-param {
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                }
                                .btn-param:hover {
                                    background-color: #56ccf2;
                                }
                            }
                            .keyword-params {
                                overflow: hidden;
                                margin-top: 11px;
                                height: 0px;
                                transition: 0.3s all linear;
                                label {
                                    .keyword-input {
                                        padding: 4px;
                                        margin: 0px;
                                        height: 35px;
                                        width: 96%;
                                        font-size: 16px;
                                        line-height: 19px;
                                        border: 1px solid #bdbdbd;
                                    }
                                }
                            }
                            .open {
                                height: 45px;
                            }
                        }
                        .btn-search {
                            margin-top: 18px;
                            background-color: #56ccf2;
                            width: 100%;
                            border: none;
                            height: 35px;
                            color: #ffffff;
                            cursor: pointer;
                        }
                        .btn-search:hover {
                            box-shadow: 0px 0px 15px 0px #56ccf2;
                        }
                    }
                }
            }
            @media (max-width: 1220px) {
                .search-area {
                    // width: 350px;
                    // overflow: hidden;
                }
                .open-search-area {
                    width: 350px;
                }
            }
        }
        @media (max-width: 1220px) {
            .search {
                z-index: 1;
                transition: 0.3s all ease;
                position: fixed;
                top: 253px;
                left: -455px;
            }
        }
        .open-search {
            display: none;
            position: fixed;
            top: 253px;
            left: 0px;
            #open-search {
                font-size: 32pt;
                background-color: #828282;
                border: none;
                color: #ffffff;
                cursor: pointer;
            }
            #open-search:hover {
                background-color: #363636;
            }
        }
        @media (max-width: 1220px) {
            .open-search {
                display: block;
            }
        }
        .products {
            width: 100%;
            margin-left: $product-margin-left;
            .products-list {
                display: flex;
                flex-flow: column nowrap;
                list-style-type: none;
                margin: 16px 0px;
                padding: 0px;
                .product-item {
                    padding: 16px;
                    background-color: #ffffff;
                    margin-top: 16px;
                    .product-item_wrap {
                        display: flex;
                        flex-flow: row nowrap;
                        .product-img {
                            width: 224px;
                            height: 168px;
                            a {
                                width: inherit;
                                height: inherit;
                                img {
                                    width: inherit;
                                    height: inherit;
                                }
                            }
                        }
                        .product-info {
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                            list-style: none;
                            margin-left: 16px;
                            width: 100%;
                            .main-info {
                                .title_price {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    justify-content: space-between;
                                    align-items: baseline;
                                    .product-title {
                                        font-weight: bold;
                                        font-size: 18px;
                                        line-height: 21px;
                                        text-decoration: none;
                                        color: #000000;
                                    }
                                    .product-title:hover {
                                        text-decoration: underline;
                                    }
                                    .product-price {
                                        font-weight: bold;
                                        font-size: 16px;
                                        line-height: 19px;
                                    }
                                }
                                .description {
                                    margin-top: 7px;
                                    max-width: 399px;
                                    .desc {
                                        font-weight: 300;
                                        font-size: 14px;
                                        line-height: 16px;
                                    }
                                }
                            }
                            .product-tags {
                                .tags-list {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    list-style: none;
                                    padding: 0px;
                                    .tag {
                                        background-color: #c4c4c4;
                                        font-weight: 300;
                                        font-size: 12px;
                                        line-height: 14px;
                                        text-align: center;
                                        color: #ffffff;
                                        padding: 5px;
                                        margin-left: 16px;
                                    }
                                    .tag:first-child {
                                        margin-left: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
                .product-item:first-child {
                    margin-top: 0px;
                }
            }
            .pages {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                .btns {
                    .btns-list {
                        display: flex;
                        flex-flow: row nowrap;
                        list-style: none;
                        padding: 0px;
                        margin: 0px;
                        .btn-item {
                            margin-left: 16px;
                            button {
                                font-size: 16px;
                                line-height: 19px;
                                width: 35px;
                                height: 35px;
                                cursor: pointer;
                                background-color: #ffffff;
                                border: none;
                            }
                            button:hover {
                                background-color: #56ccf2;
                            }
                        }
                        .btn-item:first-child {
                            margin-left: 0px;
                        }
                    }
                }
                .sorting {
                    height: 35px;
                    .sort {
                        position: relative;
                        border: 1px solid #bdbdbd;
                        height: inherit;
                        width: 207px;
                        color: #828282;
                        font-size: 16px;
                        line-height: 19px;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
            }
            .some-info {
                margin: 24px 0px;
                max-width: 565px;
                .info {
                    a {
                        color: #2f80ed;
                        text-decoration: none;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        @media (max-width: 1220px) {
            margin: 0px 20px;
            .products {
                margin-left: 0px;
            }
        }
    }
}
