.policy {
    text-align: center;
    p {
        .policy-link {
            text-decoration: none;
            color: #2f80ed;
        }
        .policy-link:hover {
            text-decoration: underline;
        }
    }
}
