<div class="container-products">
    <div class="breadcrubs">
        <ul class="bread-list">
            {{#each breadcrumbs}}
                <li class="bread-item" href="{{this.href}}">{{this.text}}</li>
            {{/each}}
        </ul>
    </div>
</div>